<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Projeto Flask</h3>
    </div>

    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus tenetur rerum excepturi voluptas error voluptate? Eligendi nulla harum mollitia omnis, veniam voluptate adipisci incidunt delectus expedita quis atque hic!</p>
    </div>

    <a href="{{url_for('testepage')}}">link</a>
</body>
</html>